<?xml version="1.0" ?>

<robot name="rebot_b601_dm_table">

  <material name="brown">
    <color rgba="0.7 0.4 0.0 1.0"/>
  </material>

  <link name="world"/>

  <!-- Table represented as a box of size 24" x 40" x 29" -->
  <link name="link_rebot_b601_dm_table">
    <visual>
      <geometry>
        <box size="0.6096 1.1016 0.7366"/>
      </geometry>
      <material name="brown"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.6096 1.1016 0.7366"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic/>
        <drake:hydroelastic_modulus value="1e6"/>
        <drake:hunt_crossley_dissipation value="0."/>
        <drake:mu_dynamic value="0.3"/>
      </drake:proximity_properties>
    </collision>

    <inertial>
      <mass value="10"/>
      <inertia ixx="2.1073" ixy="0.0" ixz="0.0" iyy="1.1097" iyz="0.0" izz="1.9022"/>
    </inertial>
  </link>

  <link name="link_rebot_b601_dm_position"/>

  <!--
  Position the table such that the rebot base is at (x, y) = (0, 0) in world coordinates
  when placed on the appropriate position on the table.
  -->

  <joint name="joint_world_to_rebot_b601_dm_table" type="fixed">
    <parent link="world"/>
    <child link="link_rebot_b601_dm_table"/>
    <origin xyz="0.1778 0 0.3683" rpy="0 0 0"/>
  </joint>

  <!--
  Robot is placed centered in y, but on top of the table (so z=height/2) and
  pushed back such that the mid point of the robot's base_link is 5" from the
  back of the table (x=-7" as the half x width is 12").
  -->
  <joint name="joint_rebot_b601_dm_table_to_rebot_b601_dm_position" type="fixed">
    <parent link="link_rebot_b601_dm_table"/>
    <child link="link_rebot_b601_dm_position"/>
    <origin xyz="-0.1778 0 0.3683" rpy="0 0 0"/>
  </joint>

</robot>
