[submodule "robot_models"]
	path = robot_models
	url = git@github.com:shrenikm/robot_models.git
[submodule "third_party/xarm_py"]
	path = third_party/xarm_py
	url = git@github.com:shrenikm/xArm-Python-SDK.git
